[submodule "Laboratorios/Laboratorio-1/DOSW_Lab1_BJJ"]
	path = Laboratorios/Laboratorio-1/DOSW_Lab1_BJJ
	url = https://github.com/JuanGuayazanC/DOSW_Lab1_BJJ.git
	branch = main
[submodule "Laboratorios/Laboratorio-1/Lab1-DOSW"]
	path = Laboratorios/Laboratorio-1/Lab1-DOSW
	url = https://github.com/JuanGuayazanC/Lab1-DOSW.git
	branch = main
[submodule "Laboratorios/DOSW-Bootcamp-Laboratorio-02"]
	path = Laboratorios/DOSW-Bootcamp-Laboratorio-02
	url = https://github.com/JuanGuayazanC/DOSW-Bootcamp-Laboratorio-02.git
	branch = main
[submodule "Laboratorios/Laboratorio-3/DOSW_Lab3_BrayanJuanEJuanS"]
	path = Laboratorios/Laboratorio-3/DOSW_Lab3_BrayanJuanEJuanS
	url = https://github.com/JuanGuayazanC/DOSW_Lab3_BrayanJuanEJuanS.git
	branch = main
[submodule "Laboratorios/Laboratorio-3/Lab3-DOSW"]
	path = Laboratorios/Laboratorio-3/Lab3-DOSW
	url = https://github.com/JuanGuayazanC/Lab3-DOSW.git
	branch = main
[submodule "Laboratorios/DOSW_Lab5_JuanE_JuanS_BrayanL"]
	path = Laboratorios/DOSW_Lab5_JuanE_JuanS_BrayanL
	url = https://github.com/brloa05/DOSW_Lab5_JuanE_JuanS_BrayanL.git
	branch = main
[submodule "Laboratorios/DOSW_Lab6_BrayanLoaiza_JuanCruz_JuanGuayazan_JuanVillegas_JuanLaverde"]
	path = Laboratorios/DOSW_Lab6_BrayanLoaiza_JuanCruz_JuanGuayazan_JuanVillegas_JuanLaverde
	url = https://github.com/brloa05/DOSW_Lab6_BrayanLoaiza_JuanCruz_JuanGuayazan_JuanVillegas_JuanLaverde.git
	branch = main
[submodule "Laboratorios/Laboratorio-2-CVDS-DOSW-01"]
	path = Laboratorios/Laboratorio-2-CVDS-DOSW-01
	url = https://github.com/AlejandroHenao2572/Laboratorio-2-CVDS-DOSW-01.git
	branch = main
[submodule "Parciales/DOSW_ParcialT2_JuanGuayazan"]
	path = Parciales/DOSW_ParcialT2_JuanGuayazan
	url = https://github.com/JuanGuayazanC/DOSW_ParcialT2_JuanGuayazan.git
	branch = main
[submodule "Proyectos/CodeForge-DOSW/TECHCUP-FUTBOL-BackEnd"]
	path = Proyectos/CodeForge-DOSW/TECHCUP-FUTBOL-BackEnd
	url = https://github.com/CodeForge-DOSW/TECHCUP-FUTBOL-BackEnd.git
	branch = main
[submodule "Proyectos/CodeForge-DOSW/TECHCUP-FUTBOL-FrontEnd"]
	path = Proyectos/CodeForge-DOSW/TECHCUP-FUTBOL-FrontEnd
	url = https://github.com/CodeForge-DOSW/TECHCUP-FUTBOL-FrontEnd.git
	branch = main
[submodule "Proyectos/CodeForge-DOSW/TECHCUP-FUTBOL-Database-and-image-service"]
	path = Proyectos/CodeForge-DOSW/TECHCUP-FUTBOL-Database-and-image-service
	url = https://github.com/CodeForge-DOSW/TECHCUP-FUTBOL-Database-and-image-service.git
	branch = main
[submodule "Proyectos/CodeForge-DOSW/TECHCUP-FUTBOL-BackEnd-SpringBoot"]
	path = Proyectos/CodeForge-DOSW/TECHCUP-FUTBOL-BackEnd-SpringBoot
	url = https://github.com/CodeForge-DOSW/TECHCUP-FUTBOL-BackEnd-SpringBoot.git
	branch = main
[submodule "Proyectos/CodeForge-DOSW/LAb5_API_CRUD_POINT"]
	path = Proyectos/CodeForge-DOSW/LAb5_API_CRUD_POINT
	url = https://github.com/CodeForge-DOSW/LAb5_API_CRUD_POINT.git
	branch = main
[submodule "Proyectos/techcup-futbol-dosw/techcup-front"]
	path = Proyectos/techcup-futbol-dosw/techcup-front
	url = https://github.com/techcup-futbol-dosw/techcup-front.git
	branch = main
[submodule "Proyectos/techcup-futbol-dosw/techchup-users"]
	path = Proyectos/techcup-futbol-dosw/techchup-users
	url = https://github.com/techcup-futbol-dosw/techchup-users.git
	branch = main
[submodule "Proyectos/techcup-futbol-dosw/techcup-identity"]
	path = Proyectos/techcup-futbol-dosw/techcup-identity
	url = https://github.com/techcup-futbol-dosw/techcup-identity.git
	branch = main
[submodule "Proyectos/techcup-futbol-dosw/techcup-apigateway"]
	path = Proyectos/techcup-futbol-dosw/techcup-apigateway
	url = https://github.com/techcup-futbol-dosw/techcup-apigateway.git
	branch = main
[submodule "Proyectos/techcup-futbol-dosw/techcup-competitions"]
	path = Proyectos/techcup-futbol-dosw/techcup-competitions
	url = https://github.com/techcup-futbol-dosw/techcup-competitions.git
	branch = main
[submodule "Proyectos/techcup-futbol-dosw/techcup-tournaments"]
	path = Proyectos/techcup-futbol-dosw/techcup-tournaments
	url = https://github.com/techcup-futbol-dosw/techcup-tournaments.git
	branch = main
[submodule "Proyectos/techcup-futbol-dosw/techcup-teams"]
	path = Proyectos/techcup-futbol-dosw/techcup-teams
	url = https://github.com/techcup-futbol-dosw/techcup-teams.git
	branch = main
[submodule "Proyectos/techcup-futbol-dosw/techcup-image-service"]
	path = Proyectos/techcup-futbol-dosw/techcup-image-service
	url = https://github.com/techcup-futbol-dosw/techcup-image-service.git
	branch = main
[submodule "Proyectos/LeanCode-DOSW/SIRHA-BackEnd"]
	path = Proyectos/LeanCode-DOSW/SIRHA-BackEnd
	url = https://github.com/LeanCode-DOSW/SIRHA-BackEnd.git
	branch = main
[submodule "Proyectos/LeanCode-DOSW/SIRHA-FrontEnd"]
	path = Proyectos/LeanCode-DOSW/SIRHA-FrontEnd
	url = https://github.com/LeanCode-DOSW/SIRHA-FrontEnd.git
	branch = main
[submodule "Proyectos/DOSW2025/wise"]
	path = Proyectos/DOSW2025/wise
	url = https://github.com/DOSW2025/wise.git
	branch = main
[submodule "Talleres/Taller-de-recuperacion-DOSW"]
	path = Talleres/Taller-de-recuperacion-DOSW
	url = https://github.com/JuanGuayazanC/Taller-de-recuperacion-DOSW.git
	branch = main
[submodule "Parciales/Parcial-1/DOSW_ParcialT1_JuanGuayazan"]
	path = Parciales/Parcial-1/DOSW_ParcialT1_JuanGuayazan
	url = https://github.com/JuanGuayazanC/DOSW_ParcialT1_JuanGuayazan.git
	branch = main
[submodule "Parciales/Parcial-1/Parcial-Primer-Corte-DOSW"]
	path = Parciales/Parcial-1/Parcial-Primer-Corte-DOSW
	url = https://github.com/JuanGuayazanC/Parcial-Primer-Corte-DOSW.git
	branch = main
